@keyframes carusel {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(25%);
  }
}
body {
  box-sizing: border-box;
  margin-top: 0;
  margin-left: 0;
  margin-right: 0;
  overflow-x: hidden;
}
.container {
  background-color: rgb(230, 227, 227);
  width: 100%;
}
header {
  background-color: aquamarine;
}
.info {
  text-align: center;
  text-transform: uppercase;
  margin: 0;
  animation: carusel 15s linear infinite;
}
.nav-logo {
  height: 45px;
  width: 108px;
}
.nav-list {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  list-style-type: none;
  margin-top: 0;
  margin-bottom: 0;
  background-color: rgb(36, 41, 128);
  padding-left: 0;
}
.nav-list-items {
  margin-top: 14px;
}
.nav-list-items_link:hover {
  color: aquamarine;
}
.nav-list-items_link {
  text-decoration: none;
  text-transform: uppercase;
  color: white;
}

.burger {
  position: relative;
  top: 14px;
  display: none;
}

.sidebar-menu {
  display: none;
  position: absolute;
  top: 100px;
  right: -10px;
  height: 30vh;
  width: 25vw;
  background-color: rgb(36, 41, 128);
  padding: 10px;
}

.sidebar-menu ul {
  width: 100%;
  height: calc(100% - 40px);
  list-style-type: none;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  padding: 10px;
}

.sidebar-menu ul li a {
  color: #fff;
  text-decoration: none;
  cursor: pointer;
}
.sidebar-menu ul li a:hover {
  color: aqua;
}
.active {
  display: block;
}

.sidebar-menu-list {
  display: none;
}
.company {
  background-image: url("./images/gentra.jpg");
  height: 100vh;
  background-position: center;
  background-size: cover;
}
.company-text {
  position: relative;
  text-align: center;
  margin-top: 0;
  left: 500px;
  width: 600px;
  top: 500px;
  color: rgb(255, 255, 255);
  font-size: larger;
}
.company-text p {
  text-shadow: 2px 2px 0px #000000;
}
.company-text p:hover {
  color: rgb(255, 187, 0);
}
.btn-company {
  text-transform: capitalize;
  width: 80px;
  height: 30px;
  background-color: rgb(84, 177, 211);
  border-radius: 10px;
  color: white;
}
.btn-company:hover {
  cursor: pointer;
  background-color: rgb(240, 240, 240);
  color: black;
}

.news {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: 0.1fr 0.5fr;
  grid-column-gap: 0px;
  grid-row-gap: 0px;
}
.news-1 {
  grid-area: 1 / 2 / 2 / 3;
  text-align: center;
}
.news-2 {
  grid-area: 2 / 1 / 3 / 2;
}
.news-3 {
  grid-area: 2 / 2 / 3 / 3;
}
.news-4 {
  grid-area: 2 / 3 / 3 / 4;
}
.news-container {
  width: 400px;
}
.news-container span {
  color: gray;
}
.news-container span:hover {
  color: blue;
  cursor: pointer;
}
.news-container img {
  width: 465px;
  height: 360px;
}
.btn-news {
  margin-left: 200px;
  text-transform: capitalize;
  width: 80px;
  height: 30px;
  background-color: rgb(84, 177, 211);
  border-radius: 10px;
  color: white;
}
.media {
  align-items: center;
  display: flex;
  flex-direction: column;
}
.media-video:hover{
  cursor: pointer;
}
.btn-news:hover {
  background-color: rgb(4, 185, 251);
  cursor: pointer;
}

.btn-media {
  color: white;
  padding: 5px;
  margin-top: 10px;
  border-radius: 10px;
  background-color: rgb(84, 177, 211);
}
.btn-media:hover {
  background-color: rgb(0, 187, 255);
  cursor: pointer;
}
.footer {
  display: flex;
  background-color: rgb(36, 41, 128);
  justify-content: space-around;
  color: white;
}
.footer-list {
  margin-top: 0;
  list-style-type: none;
}
.footer-list-items a {
  color: white;
  text-decoration: none;
}

.footer-list-items a:hover {
  color: rgb(18, 226, 222);
}
.address a {
  color: white;
  text-decoration: none;
}
.address a:hover {
  color: aquamarine;
}
@media screen and (max-width: 768px) {
  .container {
    width: 768px;
  }
  .company-text {
    left: 100px;
  }
  .news {
    grid-template-columns: repeat(2, 0.5fr);
    grid-template-rows: 0.1fr 0.5fr 0.5fr;
  }
  .news-1 {
    grid-area: 1 / 1 / 2 / 2;
  }
  .news-2 {
    grid-area: 2 / 1 / 3 / 2;
  }
  .news-3 {
    grid-area: 2 / 2 / 3 / 3;
  }
  .news-4 {
    grid-area: 3 / 1 / 4 / 2;
  }
  .news-container {
    width: 300px;
  }
  .news-container img {
    width: 365px;
    height: 260px;
  }
  .btn-news {
    position: relative;
    top: 420px;
    left: -250px;
  }
}

@media screen and (max-width: 376px) {
  .container {
    width: 376px;
  }
  .info {
    animation: none;
    font-size: 14px;
  }
  .nav {
    display: flex;
    background-color: rgb(36, 41, 128);
    justify-content: space-between;
  }

  .nav-list-items {
    display: none;
  }
  .burger {
    display: block;
    height: 35px;
    width: 35px;
  }

  .burger .fa-bars {
    color: #fff;
    font-size: 2em;
    cursor: pointer;
  }
  .company-text {
    left: 0px;
    font-size: 14px;
    width: 300px;
  }
  .parent {
    display: grid;
    grid-template-columns: 0.5fr;
    grid-template-rows: 0.1fr repeat(3, 0.5fr);
    grid-column-gap: 0px;
    grid-row-gap: 0px;
  }
  .news-1 {
    grid-area: 1 / 1 / 2 / 2;
  }
  .news-2 {
    grid-area: 2 / 1 / 2 / 1;
  }
  .news-3 {
    grid-area: 3 / 1 / 3 / 1;
  }
  .news-4 {
    grid-area: 4 / 1 / 4 / 1;
  }
  .news-container {
    width: 350px;
  }
  .news-container img {
    width: 375px;
    height: 260px;
  }
  .btn-news {
    left: -50px;
  }
  .media-video {
    width: 365px;
  }
  .brand-logo {
    width: 70px;
  }
  .footer {
    font-size: 14px;
  }
}
