@keyframes carusel {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-25%);
  }
}
body {
  box-sizing: border-box;
  margin-top: 0;
  margin-left: 0;
  margin-right: 0;
  overflow-x: hidden;
}
.container {
  background-color: rgb(230, 227, 227);
  width: 1596px;
}
header {
  background-color: rgb(234, 186, 16);
}
.info {
  text-align: center;
  text-transform: uppercase;
  margin: 0;
  animation: carusel 15s linear infinite;
}
.nav-logo {
  height: 45px;
  width: 108px;
}
.nav-list {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  list-style-type: none;
  margin-top: 0;
  margin-bottom: 0;
  background-color: rgb(36, 41, 128);
}
.nav-list-items {
  margin-top: 14px;
}
.nav-list-items_link:hover {
  color: aquamarine;
}
.nav-list-items_link {
  text-decoration: none;
  text-transform: uppercase;
  color: white;
}

.burger {
  position: relative;
  top: 14px;
  display: none;
}

.sidebar-menu {
  display: none;
  position: absolute;
  top: 100px;
  right: -10px;
  height: 30vh;
  width: 25vw;
  background-color: rgb(36, 41, 128);
  padding: 10px;
}

.sidebar-menu ul {
  width: 100%;
  height: calc(100% - 40px);
  list-style-type: none;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  padding: 10px;
}

.sidebar-menu ul li a {
  color: #fff;
  text-decoration: none;
  cursor: pointer;
}
.sidebar-menu ul li a:hover {
  color: aqua;
}
.active {
  display: block;
}

.sidebar-menu-list {
  display: none;
}
.news {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.news-container {
  width: 400px;
}
.news-container span {
  color: gray;
}
.news-container img {
  width: 365px;
  height: 260px;
}
main h1 {
  text-align: center;
}
main h2{
  text-align: center;
}
main h2:hover{
  color: aquamarine;
  cursor: pointer;
}
.footer {
  display: flex;
  background-color: rgb(36, 41, 128);
  justify-content: space-around;
  color: white;
}
.footer-list {
  margin-top: 0;
  list-style-type: none;
}
.footer-list-items a {
  color: white;
  text-decoration: none;
}

.footer-list-items a:hover {
  color: rgb(18, 226, 222);
}
.address a {
  color: white;
  text-decoration: none;
}
.address a:hover {
  color: aquamarine;
}
@media screen and (max-width: 768px) {
  .container {
    width: 768px;
  }
}

@media screen and (max-width: 376px) {
  .container {
    width: 376px;
  }
  .info {
    animation: none;
    font-size: 14px;
  }
  .nav {
    display: flex;
    background-color: rgb(36, 41, 128);
    justify-content: space-between;
  }

  .nav-list-items {
    display: none;
  }
  .burger {
    display: block;
    height: 35px;
    width: 35px;
  }

  .burger .fa-bars {
    color: #fff;
    font-size: 2em;
    cursor: pointer;
  }
  .brand-logo {
    width: 70px;
  }
  .footer {
    font-size: 14px;
  }
}
